* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}
nav {
  box-shadow: 5px 5px 5px rgb(218, 215, 215);
  padding: 0 2rem;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 5px;
  font-weight: 100;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav ul li a {
  color: black;
  padding: 20px;
}
.logo span {
  font-weight: 900;
  padding-right: 10px;
}
nav ul li a:hover {
  background-color: rgb(231, 229, 229);
}
.logo:hover {
  background-color: rgb(231, 229, 229);
}
.br {
  background-image: url(architect.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 80%;
  margin-left: 15rem;
  font-size: 2rem;
  letter-spacing: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}
.br span {
  font-weight: 900;
  background-color: black;
  padding: 10px;
  margin-right: 2rem;
}
.po {
  font-weight: lighter;
  margin-left: 15rem;
  padding-top: 5rem;
}
hr {
  color: lightgrey;
  margin-left: 15rem;
  margin-right: 16rem;
  margin-top: 2rem;
}
.house {
  margin-left: 14.5rem;
  margin-top: 3rem;
}
.hh img {
  padding: 12px;
  width: 32rem;
}
.ss img {
  padding: 12px;
  width: 32rem;
}
.lo {
  padding-top: 2rem;
  margin-left: 15rem;
  font-size: 23.6px;
}
.four {
  display: flex;
  gap: 1.5rem;
  margin-left: 15rem;
  margin-top: 3rem;
}
.four h1 {
  padding-top: 1rem;
  font-weight: 100;
  font-size: 35px;
}
.four h2 {
  padding-top: 1rem;
  color: grey;
  font-size: 23px;
  font-weight: 100;
}
.four p {
  margin-top: 1rem;
  font-size: 22px;
}
.four button {
  text-align: center;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: none;
  margin-top: 1rem;
}
.four button:hover {
  background-color: grey;
}
.in {
  margin-left: 15rem;
}
.in input {
  margin-top: 1rem;
  width: 89%;
  padding: 12px;
  font-size: 20px;
  color: grey;
  border: 1px solid grey;
}
.in button {
  margin-top: 2rem;
  padding: 15px;
  font-size: 20px;
  color: #fff;
  background-color: black;
}
.end {
  margin-left: 15rem;
  width: 81%;
  margin-top: 4rem;
}
.ed a {
  color: #fff;
}
.ed {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3rem;
  font-size: 20px;
  margin-top: 1rem;
}
@media (max-width: 425px) {
  nav ul li {
    display: none;
  }
  nav {
    width: 27rem;
    font-size: 17px;
    height: 60px;
  }
  .br {
    margin-left: 0;
    width: 100%;
    height: 13rem;
  }
  .br p {
    display: none;
  }
  .po,
  .house,
  .lo,
  .four,
  .in,
  .end {
    margin-left: 0;
  }
  .house img {
    width: 26.5rem;
  }
  .po {
    font-size: 23px;
    margin: 2rem;
    margin-top: 0px;
  }
  .lo {
    font-size: 17px;
    margin: 1.5rem;
    margin-top: 0;
  }
  hr {
    margin: 0;
    width: 23rem;
    margin-left: 1.5rem;
    margin-top: 10px;
  }
  .four {
    flex-direction: column;
  }
  .jd {
    margin: 1rem;
  }
  .four img {
    width: 24.5rem;
  }
  .jd p,
  .jd button {
    font-size: 17px;
  }
  .jd h1 {
    font-size: 25px;
  }
  .jd h2 {
    font-size: 17px;
  }
  .in {
    text-align: center;
  }
  .in input {
    font-size: 15px;
  }
  .in button {
    font-size: 13px;
    margin-right: 15rem;
  }
  .end {
    width: 23.5rem;
    margin-left: 1.5rem;
  }
  .ed {
    padding: 30px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .br {
    width: 26.5rem;
  }
  .four p {
    font-size: 16px;
  }
  .four button {
    width: 24rem;
  }
  .in {
    width: 26.5rem;
  }
  .ed {
    width: 26.5rem;
  }
}
